.latest {
    background: #F2F2F2;
}

.container {}

.latest__box {
    padding-top: 80px;
    padding-bottom: 80px;
}

.latest__title {
    font-family: Public Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}

.latest__item {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest__list {
    width: 245px;
    background: #FFFFFF;
    border-radius: 5px;
}

.latest__image {
    width: 100%;
    margin-bottom: 25px;
}

.latest__link {
    width: 100%;
    text-decoration: none;
    padding: 20px;
}

.latest__name {
    font-family: PublicSans;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
    margin-bottom: 8px;
}

.latest__info {
    max-width: 190px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
    margin-left: 20px;
    margin-bottom: 8px;
    display: block;
}

.latest__infoo {
    font-family: PublicSans;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
    margin-left: 20px;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .latest__title {
        font-family: Public Sans;
        font-style: normal;
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.571429px;
        color: #2D314D;
        margin-bottom: 34px;
    }
    .latest__item {
        display: block;
        width: 100%;
        padding: 0 20px;
    }
    .latest__list {
        width: 100%;
        margin-bottom: 24px;
    }
}